# Dependencies
node_modules/
.pnpm-store/

# Next.js build cache
.next/
out/

# Turborepo cache
.turbo/

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log
next.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
